@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.yoga-homepage-bg-container {
    background-image: url("https://assets.ccbp.in/frontend/static-website/yoga-bg.png");
    background-size: cover;
    height: 100vh;
    font-family: "Roboto";
    text-align: center;
    padding: 40px;
}

.yoga-homepage-header {
    font-size: 18px;
    color: #132d84;
    font-weight: bold;
}

.yoga-homepage-girl-image {
    height: 220px;
    margin-top: 150px;
    width: 200px;
}

.yoga-homepage-description {
    font-size: 13px;
}

.home-button {
    background-color: #132d84;
    width: 64px;
    height: 26px;
    font-size: 10px;
    color: #fad693;
    padding: 2px;
}

.types-of-yoga-page-bg-container {
    background-color: #ffedcb;
    padding: 20px;
    font-family: "Roboto";
}

.types-of-yoga-page-girl-image {
    height: 180px;
    margin-left: 58px;
    margin-bottom: 20px;
}

.types-of-yoga-page-main-heading {
    font-size: 22px;
    color: #132d84;
    font-weight: 500;
}

.types-of-yoga-card-item {
    padding: 14px;
    background-color: #ffe2ab;
    border-radius: 10px;
    margin-bottom: 10px;
}

.types-of-yoga-card-image {
    height: 74px;
}

.types-of-yoga-card-content-container {
    font-family: "Roboto";
    margin-left: 10px;
}

.types-of-yoga-card-heading {
    color: #253263;
    font-size: 14px;
    font-weight: 500;
}

.types-of-yoga-card-content {
    font-size: 11px;
    color: #323f4b;
}